:root {
  --primary-color: #696792;
  --secondary-color: #f5f2fe;
  --button-text-color: whitesmoke;
  --font-family: "Poppins", sans-serif;
  --heading-font-family: "Playfair Display";
  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
body {
  font-family: var(--font-family);
}

.row {
  padding-top: 100px;
}
.col {
  padding-left: 75px;
}
.main-header {
  font-size: 96px;
}
h1 {
  padding-top: 140px;
  font-family: var(--heading-font-family);
  text-align: center;
  opacity: 0.7;
}
h2,
h3 {
  padding: 15px;
  font-family: var(--heading-font-family);
  text-align: center;
  font-weight: bold;
  font-size: 38px;
  opacity: 0.7;
}
h4 {
  font-size: 38px;
  font-family: var(--heading-font-family);
}
h5 {
  font-size: 18px;
  opacity: 0.7;
  text-align: center;
  line-height: 45px;
}

.about-header {
  padding: 100px;
}

.navbar-img {
  width: 50px;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero h3 {
  line-height: 2;
}

.btn-branding {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 10px;
  margin-top: 20px;
}
.btn-branding a:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
}
.btn-branding-outline {
  color: var(--primary-color);
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  text-decoration: none;
  border-color: var(--primary-color);
  padding: 20px 15px;
  transition: all 150ms ease-in-out;
}
.btn-branding-outline:hover {
  color: black;
  opacity: 0.7;
  background: var(--primary-color);
}
p {
  text-align: center;
  margin-top: 20px;
}

.paragraph {
  background-color: none;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
img {
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.courses-link {
  color: black;
  text-decoration: none;
}
.courses-link:hover,
.email-link:hover {
  color: var(--primary-color);
}
footer {
  margin: 40px 0;
}
.contact-box {
  background-color: var(--secondary-color);
}
.email-link {
  color: var(--primary-color);
  text-decoration: none;
}
.social-links {
  text-align: center;
}
.social-links a {
  margin: 0 30px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 12px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  transition: all 150ms ease-in-out;
}
.social-links a:hover {
  color: black;
  opacity: 0.7;
  background: var(--primary-color);
}
@media (max-width: 900px) {
  .hero {
    padding: 60px 20px;
    line-height: 1;
  }
  .main-header {
    font-size: 38px;
    padding-top: 40px;
  }

  h3 {
    font-size: 25px;
    padding: 0;
  }
  
  h5 {
    font-size: smaller;
    line-height: 1.5;
  }
  .about-header {
    padding-top: 150px;
  }
  .btn-branding-outline {
    padding: 10px 10px;
  }
  .btn-branding {
    display: block;
    text-align: center;
    margin: 0 10px;
  }
}
