:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --button-text-color: whitesmoke;
  --font-family: "Poppins", sans-serif;
  --heading-font-family: "Playfair Display";
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  font-family: var(--font-family);
}
h1 {
  font-size: 96px;
}

h2,
h3 {
  padding: 15px;
  font-family: var(--heading-font-family);
  text-align: center;
  font-weight: bold;
  font-size: 38px;
}

.navbar-img {
  width: 50px;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero h3 {
  line-height: 2;
}

.primary-link {
  border-radius: 4px;
  margin: 20px;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  text-decoration: none;
  justify-content: center;
  color: var(--button-text-color);
  padding: 20px 15px;
}
.btn-branding-outline {
  background: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  color: var(--button-text-color);
  text-decoration: none;
  border-color: var(--primary-color);
  padding: 20px 15px;
}
.btn-branding-outline:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.paragraph {
  background-color: none;
  justify-self: left;
}
img {
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}
